// Callback form.

.callback {
  @include side-padding(113px, 72px);
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    @include center-fix-width(0, 352px);
    @include side-padding(15px, 15px);
    padding-top: 70px;
    box-sizing: border-box;
  }

  @media (max-width: $mobile-width) {
    max-width: 600px;
  }
}

.callback p {
  @include font(17px, 28px);
  margin-top: 4px;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: $white;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 18px;
    color: $black;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.callback__form input,
.callback__form button {
  @include side-padding(30px, 30px);
  border-radius: 6px;
  border: none;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    @include side-padding(21px, 21px);
  }

  @media (max-width: $mobile-width) {
    @include side-padding(25px, 25px);
  }
}

.callback__form input {
  @include size(100%, 48px);
  margin-bottom: 20px;
  outline: none;

  &:hover {
    outline: 2px solid $input-border;
  }

  &:focus {
    outline: 2px solid $main;
  }

  @media (max-width: $tablet-width) {
    border: 1px solid $input-border;

    &:hover {
      outline: 1px solid $input-border;
    }

    &:focus {
      border-color: $main;
      outline-color: $main;
    }
  }
}

.callback__form input::placeholder {
  @include font(15px, 24px);
  color: $placeholder;
}

.callback__form button {
  @include font(15px, 21px);
  width: 100%;
  min-height: 48px;
  font-weight: 600;
  background-color: $main;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $tablet-width) {
    min-height: 51px;
    margin-bottom: 30px;
  }
}
