// Variables.

// Colors.

$white: #ffffff;
$black: #000000;
$main: #0ad9c6;
$placeholder: #1c1c1c;
$input-border: #c9ccd4;
$section-title: #1f1f1f;
$light-background: #f6f7f9;
$dark-background: #131314;
$mobile-menu-background: #f6f6f6;
$mobile-menu-text: #48494d;
$play-button-hover: #0db6a6;
$play-button-active: #b91a1a;

// Viewports.

$mobile-min-width: 320px;
$mobile-width: 767px;
$tablet-min-width: 768px;
$tablet-width: 1023px;
$desktop-width: 1024px;
